<h1>Add a phone number to <%= @all_contacts.name() %></h1>

<form action="/numbers" method="post">
  <input id='contact_id' name='contact_id' type='hidden' value='<%=@all_contacts.id() %>'>

  <label for='number'>Contact's number:</label>
  <input id='number' name='number' type='text'>

  <button type="submit">Add Number</button>

</form>

<h3>Here are all the numbers for this contact:</h3>

<ul>
  <% @all_contacts.digits().each() do |number| %>
    <li><%= number %></a></li>
  <% end %>
</ul>

<a href="/">Return to Main Page</a>

