<h1>Phonebook<h1>

<h3>Add a Contact Name Here:</h3>

<form action="/phonenumbers" method="post">
  <label for='contact'>Contact's name:</label>
  <input id='contact' name='contact' type='text'>
  <button type="submit"> Add Dealership</button>
</form>

<ul>
  <% @all_contacts.each() do |contact| %>
    <li><a href="/phonenumbers/<%=contact.id() %>"><%= contact.name() %></a></li>
  <% end %>
</ul>
